* {
  border-radius: 0 !important;
}


body {
  background-color: black;
  font-family: interface, Helvetica Neue, helvetica, sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 15px;
  color: #fff;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.container {
  padding: none;  
}

#header-section {
  display: inline-block;
  margin: 20px auto;
}

#logo {
  float:left;
}

h1 {
  font-weight: 800;
}

#search-section {
  position: relative;
  display: block;
  margin: none;
}

#gifs-section {
  display: inline-flex;
  justify-content: space-around;
}

.form-inline {
  display: block;
}

#submitBtn {
  justify-content: center;
  float: right; 
  height: 100%;
  cursor: pointer;
  border-radius: 0;
  width: 20%;
  min-width: 20%;
  border: none !important;
  position: relative;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  margin: 20px none;
  background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%) !important;
}

#addTopic {
  width: 80%;
  float: left;
  position: relative;
  margin-left: 0;
}

.gifTopic {
  font-weight: 600;
  cursor: pointer;
  height: 36px;
  border-bottom: 4px solid rgb(0, 204, 255);
  color: #fff;
  margin: 10px 10px 15px;
  padding-left: 0;
  padding-right: 0; 
  }

  .showImage {
    cursor: pointer;
  }